@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import "./utilities";
@import "./mixins";
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-image: url("./public/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	.bg-body {
		width: 100vw;
		height: 100vh;
		color: $bgcolor;
		padding-bottom: 100px;
		position: relative;

		nav {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 44px 104px 53.5px 104px;

			.logo {
				height: 40px;
				width: 40.24px;
				overflow: hidden;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.days {
				display: flex;
				gap: 10px;
				align-items: center;

				.text {
					p {
						font-family: "Inter";
						font-style: normal;
						font-weight: 700;
						font-size: 18px;
						line-height: 109%;
						color: $logocolor;

						&:nth-of-type(2) {
							font-weight: 400;
							font-size: 14px;
							line-height: 109%;
							letter-spacing: -0.02em;
							color: $text;
							margin-top: 4px;
						}
					}
				}
			}
		}

		.header-text {
			z-index: 4;
		}

		.animation-wrapper {
			overflow: hidden;
		}

		.animate-text {
			animation: textAnimation 1.5s;
		}

		.animate-sub-text {
			animation: subTextAnimation 1.5s;
		}

		.animated-img {
			animation: animateItem 0.4s;
		}

		.animated-btn {
			animation: animateItem 1s;
		}

		.animated-img-2 {
			animation: animateItem 0.3s;
		}

		@keyframes textAnimation {
			0% {
				transform: translateY(100%);
				opacity: 0;
			}
			45% {
				transform: translateY(50%);
				opacity: 0;
			}

			100% {
				transform: translateY(0);
				opacity: 1;
			}
		}

		@keyframes subTextAnimation {
			0% {
				transform: translateY(100%);
				opacity: 0;
			}
			75% {
				transform: translateY(50%);
				opacity: 0;
			}

			100% {
				transform: translateY(0);
				opacity: 1;
			}
		}

		@keyframes animateItem {
			0% {
				transform: translateY(30px);
				opacity: 0;
			}

			100% {
				transform: translateY(0);
				opacity: 1;
			}
		}

		.header-wrapper {
			.top-stars {
				position: absolute;

				img {
					width: 100%;
				}
			}
			p {
				font-family: "Poppins";
				font-style: normal;
				font-weight: 200;
				font-size: 50px;
				line-height: 91%;
				text-align: center;
				letter-spacing: -0.015em;
				color: $headerwrapper;
				&.bold {
					font-weight: 700;
				}
			}
		}

		.sub-heading {
			padding-top: 8px;
			font-family: Inter;
			line-height: 33px;
			letter-spacing: -0.03em;
			text-align: center;

			p {
				padding-top: 5px;
				font-family: Inter;
				font-size: 20px;
				text-align: center;
			}
		}

		.sub-wrapper {
			padding-top: 0.5rem;
			display: flex;
			justify-content: center;
		}
		.btn {
			padding-top: 10px;
			display: flex;
			justify-content: center;
			margin-bottom: 300px;
		}
		.coin-pot-wrapper {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			padding-top: 0.5rem;

			.bouncing-coin {
				position: absolute;

				height: 120px;
				width: 120px;
			}

			.coin-left {
				animation: animateCoin 6s infinite;
			}

			.coin-right {
				right: -40px;
				bottom: 40px;
				animation: animateCoin 8s infinite;
			}

			.star-left {
				animation: animateStar 1s infinite;
			}

			@keyframes animateCoin {
				0% {
					transform: translateY(0px);
				}

				50% {
					transform: translateY(25px);
				}

				70% {
					transform: translateY(-25px);
				}

				70% {
					transform: translateY(-1px);
				}
			}

			@keyframes animateStar {
				0% {
					transform: translateY(0px);
				}

				50% {
					transform: translateY(25px);
				}

				70% {
					transform: translateY(-25px);
				}

				70% {
					transform: translateY(-1px);
				}
			}
		}
	}

	@media only screen and (max-width: 768px) {
		.cover {
			height: fit-content;
		}
	}

	.rotateLightBeam {
		width: 100%;
		margin: 60px auto;
		right: 150px;
		margin-top: -80px;
		position: relative;
		animation-name: rotation;
		animation-duration: 10s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}

	@keyframes rotation {
		from {
			transform: rotate(359deg);
		}
		to {
			transform: rotate(0deg);
		}
	}
	@media only screen and (min-width: 1200px) and (max-width: 1280px) {
		.rotateLightBeam {
			margin: 60px auto;
			right: 200px;
			position: relative;
		}
	}
	.coin-pot {
		width: 75%;
		margin-left: 40px;
		margin-bottom: 0;
	}
}
@media only screen and (min-width: 375px) and (max-width: 1280px) {
	body,
	.bg-body {
		margin-right: 100px;
		color: red;
	}

	body,
	.bg-body {
		height: 100vh;
		overflow: hidden;
	}
}

@media only screen and (max-width: 1024px) {
	body,
	.bg-body {
		height: 100vh;
		overflow: hidden;
	}
}
