@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .bg-body {
  background-image: url("./assets/background.png");
  width: auto;
  height: auto;
  color: #ffffff;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

body .bg-body nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 44px 104px 53.5px 104px;
}

body .bg-body nav .logo {
  height: 40px;
  width: 40.24px;
  overflow: hidden;
}

body .bg-body nav .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .bg-body nav .days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .bg-body nav .days .text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 109%;
  color: #ffffff;
}

body .bg-body nav .days .text p:nth-of-type(2) {
  font-weight: 400;
  font-size: 14px;
  line-height: 109%;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 4px;
}

body .bg-body .header-text {
  z-index: 4;
}

body .bg-body .animation-wrapper {
  overflow: hidden;
}

body .bg-body .animate-text {
  -webkit-animation: textAnimation 1.5s;
          animation: textAnimation 1.5s;
}

body .bg-body .animate-sub-text {
  -webkit-animation: subTextAnimation 1.5s;
          animation: subTextAnimation 1.5s;
}

body .bg-body .animated-img {
  -webkit-animation: animateItem 0.4s;
          animation: animateItem 0.4s;
}

body .bg-body .animated-btn {
  -webkit-animation: animateItem 1s;
          animation: animateItem 1s;
}

body .bg-body .animated-img-2 {
  -webkit-animation: animateItem 0.3s;
          animation: animateItem 0.3s;
}

@-webkit-keyframes textAnimation {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  45% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes textAnimation {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  45% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes subTextAnimation {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  75% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes subTextAnimation {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  75% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes animateItem {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes animateItem {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

body .bg-body .header-wrapper .top-stars {
  position: absolute;
}

body .bg-body .header-wrapper p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-size: 50px;
  line-height: 91%;
  text-align: center;
  letter-spacing: -0.015em;
  color: #ffffff;
}

body .bg-body .header-wrapper p.bold {
  font-weight: 700;
}

body .bg-body .sub-heading {
  padding-top: 8px;
  font-family: Inter;
  line-height: 33px;
  letter-spacing: -0.03em;
  text-align: center;
}

body .bg-body .sub-heading p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 630px;
  padding-top: 5px;
  font-family: Inter;
  font-size: 20px;
  text-align: center;
}

body .bg-body .sub-heading .second {
  margin-left: 550px;
}

body .bg-body .sub-wrapper {
  margin-left: 530px;
  padding-top: 0.5rem;
}

body .bg-body .btn {
  margin-left: 640px;
  padding-top: 10px;
}

body .bg-body .coin-pot-wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding-top: 0.5rem;
}

body .bg-body .coin-pot-wrapper .bouncing-coin {
  position: absolute;
  height: 120px;
  width: 120px;
}

body .bg-body .coin-pot-wrapper .coin-left {
  -webkit-animation: animateCoin 6s infinite;
          animation: animateCoin 6s infinite;
}

body .bg-body .coin-pot-wrapper .coin-right {
  right: -40px;
  bottom: 40px;
  -webkit-animation: animateCoin 8s infinite;
          animation: animateCoin 8s infinite;
}

@-webkit-keyframes animateCoin {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  70% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  70% {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
}

@keyframes animateCoin {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  70% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  70% {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
}
/*# sourceMappingURL=styles.css.map */