@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url("./public/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

body .bg-body {
  width: 100vw;
  height: 100vh;
  color: #ffffff;
  padding-bottom: 100px;
  position: relative;
}

body .bg-body nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 44px 104px 53.5px 104px;
}

body .bg-body nav .logo {
  height: 40px;
  width: 40.24px;
  overflow: hidden;
}

body .bg-body nav .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .bg-body nav .days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .bg-body nav .days .text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 109%;
  color: #ffffff;
}

body .bg-body nav .days .text p:nth-of-type(2) {
  font-weight: 400;
  font-size: 14px;
  line-height: 109%;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 4px;
}

body .bg-body .header-text {
  z-index: 4;
}

body .bg-body .animation-wrapper {
  overflow: hidden;
}

body .bg-body .animate-text {
  -webkit-animation: textAnimation 1.5s;
          animation: textAnimation 1.5s;
}

body .bg-body .animate-sub-text {
  -webkit-animation: subTextAnimation 1.5s;
          animation: subTextAnimation 1.5s;
}

body .bg-body .animated-img {
  -webkit-animation: animateItem 0.4s;
          animation: animateItem 0.4s;
}

body .bg-body .animated-btn {
  -webkit-animation: animateItem 1s;
          animation: animateItem 1s;
}

body .bg-body .animated-img-2 {
  -webkit-animation: animateItem 0.3s;
          animation: animateItem 0.3s;
}

@-webkit-keyframes textAnimation {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  45% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes textAnimation {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  45% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes subTextAnimation {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  75% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes subTextAnimation {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  75% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes animateItem {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes animateItem {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

body .bg-body .header-wrapper .top-stars {
  position: absolute;
}

body .bg-body .header-wrapper .top-stars img {
  width: 100%;
}

body .bg-body .header-wrapper p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-size: 50px;
  line-height: 91%;
  text-align: center;
  letter-spacing: -0.015em;
  color: #ffffff;
}

body .bg-body .header-wrapper p.bold {
  font-weight: 700;
}

body .bg-body .sub-heading {
  padding-top: 8px;
  font-family: Inter;
  line-height: 33px;
  letter-spacing: -0.03em;
  text-align: center;
}

body .bg-body .sub-heading p {
  padding-top: 5px;
  font-family: Inter;
  font-size: 20px;
  text-align: center;
}

body .bg-body .sub-wrapper {
  padding-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .bg-body .btn {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 300px;
}

body .bg-body .coin-pot-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding-top: 0.5rem;
}

body .bg-body .coin-pot-wrapper .bouncing-coin {
  position: absolute;
  height: 120px;
  width: 120px;
}

body .bg-body .coin-pot-wrapper .coin-left {
  -webkit-animation: animateCoin 6s infinite;
          animation: animateCoin 6s infinite;
}

body .bg-body .coin-pot-wrapper .coin-right {
  right: -40px;
  bottom: 40px;
  -webkit-animation: animateCoin 8s infinite;
          animation: animateCoin 8s infinite;
}

body .bg-body .coin-pot-wrapper .star-left {
  -webkit-animation: animateStar 1s infinite;
          animation: animateStar 1s infinite;
}

@-webkit-keyframes animateCoin {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  70% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  70% {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
}

@keyframes animateCoin {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  70% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  70% {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
}

@-webkit-keyframes animateStar {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  70% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  70% {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
}

@keyframes animateStar {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  70% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  70% {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
}

@media only screen and (max-width: 768px) {
  body .cover {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

body .rotateLightBeam {
  width: 100%;
  margin: 60px auto;
  right: 150px;
  margin-top: -80px;
  position: relative;
  -webkit-animation-name: rotation;
          animation-name: rotation;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1280px) {
  body .rotateLightBeam {
    margin: 60px auto;
    right: 200px;
    position: relative;
  }
}

body .coin-pot {
  width: 75%;
  margin-left: 40px;
  margin-bottom: 0;
}

@media only screen and (min-width: 375px) and (max-width: 1280px) {
  body,
  .bg-body {
    margin-right: 100px;
    color: red;
  }
  body,
  .bg-body {
    height: 100vh;
    overflow: hidden;
  }
}

@media only screen and (max-width: 1024px) {
  body,
  .bg-body {
    height: 100vh;
    overflow: hidden;
  }
}
/*# sourceMappingURL=styles.css.map */