@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import "./utilities";
@import "./mixins";
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-image: url("./assets/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	.bg-body {
		width: 100vw;
		height: 100%;
		color: $bgcolor;
		padding-bottom: 100px;
		position: relative;
		// display: flex;
		// justify-content: center;
		// align-items: center;
		// position: absolute;
		// width: 100%;
		// height: 100%;
		// top: 0;
		// left: 0;

		nav {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 44px 104px 53.5px 104px;

			.logo {
				height: 40px;
				width: 40.24px;
				overflow: hidden;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.days {
				display: flex;
				gap: 10px;
				align-items: center;

				.text {
					p {
						font-family: "Inter";
						font-style: normal;
						font-weight: 700;
						font-size: 18px;
						line-height: 109%;
						color: $logocolor;

						&:nth-of-type(2) {
							font-weight: 400;
							font-size: 14px;
							line-height: 109%;
							letter-spacing: -0.02em;
							color: $text;
							margin-top: 4px;
						}
					}
				}
			}
		}

		.header-text {
			// opacity: 0;
			// transform: translateY(40px);
			z-index: 4;
		}

		.animation-wrapper {
			overflow: hidden;
		}

		.animate-text {
			animation: textAnimation 1.5s;
		}

		.animate-sub-text {
			animation: subTextAnimation 1.5s;
		}

		.animated-img {
			animation: animateItem 0.4s;
		}

		.animated-btn {
			animation: animateItem 1s;
		}

		.animated-img-2 {
			animation: animateItem 0.3s;
		}

		@keyframes textAnimation {
			0% {
				transform: translateY(100%);
				opacity: 0;
			}
			45% {
				transform: translateY(50%);
				opacity: 0;
			}

			100% {
				transform: translateY(0);
				opacity: 1;
			}
		}

		@keyframes subTextAnimation {
			0% {
				transform: translateY(100%);
				opacity: 0;
			}
			75% {
				transform: translateY(50%);
				opacity: 0;
			}

			100% {
				transform: translateY(0);
				opacity: 1;
			}
		}

		@keyframes animateItem {
			0% {
				transform: translateY(30px);
				opacity: 0;
			}

			100% {
				transform: translateY(0);
				opacity: 1;
			}
		}

		.header-wrapper {
			.top-stars {
				position: absolute;

				img {
					width: 100%;
				}
			}
			p {
				font-family: "Poppins";
				font-style: normal;
				font-weight: 200;
				font-size: 50px;
				line-height: 91%;
				text-align: center;
				letter-spacing: -0.015em;
				color: $headerwrapper;
				&.bold {
					font-weight: 700;
				}
			}
		}

		.sub-heading {
			padding-top: 8px;
			font-family: Inter;
			//font-size: 20px;
			//font-weight: 400;
			line-height: 33px;
			letter-spacing: -0.03em;
			text-align: center;
			//display: flex;

			p {
				// margin-left: 630px;
				padding-top: 5px;
				font-family: Inter;
				font-size: 20px;
				text-align: center;
			}
			.second {
				// margin-left: 550px;
				//margin-right: 60px;
			}
		}

		.sub-wrapper {
			// margin-left: 530px;
			//margin-top: 0.07rem;
			padding-top: 0.5rem;
			display: flex;
			justify-content: center;
		}
		.btn {
			padding-top: 10px;
			display: flex;
			justify-content: center;
			margin-bottom: 300px;
		}
		.coin-pot-wrapper {
			// width: 100%;
			// overflow: hidden;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			padding-top: 0.5rem;

			.bouncing-coin {
				position: absolute;

				height: 120px;
				width: 120px;
			}

			.coin-left {
				animation: animateCoin 6s infinite;
			}

			.coin-right {
				right: -40px;
				bottom: 40px;
				animation: animateCoin 8s infinite;
			}

			@keyframes animateCoin {
				0% {
					transform: translateY(0px);
				}

				50% {
					transform: translateY(25px);
				}

				70% {
					transform: translateY(-25px);
				}

				70% {
					transform: translateY(-1px);
				}
			}
		}
	}

	// @include breakpoint(mobile) {
	// 	body {
	// 		height: 80px;
	// 	}
	// }
	@media only screen and (max-width: 768px) {
		.cover {
			height: fit-content;
		}
	}
}
